<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pkg.bookbliss">
    <!-- All required permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.ProfileEditActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.PdfViewActivity" />
        <activity android:name=".activities.PdfDetailActivity" />
        <activity android:name=".activities.PdfListAdminActivity" />
        <activity android:name=".activities.PdfAddActivity" />
        <activity android:name=".activities.PdfEditActivity" />
        <activity android:name=".activities.CategoryAddActivity" />
        <activity android:name=".activities.DashboardAdminActivity" />
        <activity android:name=".activities.DashboardUserActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RazorPay Api Key -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_DfXqp3hl73gpEf" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/CheckoutTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>

</manifest>